.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(119, 185, 248, 0.559);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loading-screen h3 {
    margin-top: 20vh;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(17, 143, 160, 0.3);
  }
  
  .loading-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  
  .loading-progress img {
    width: 100px;
    height: 100px;
    /* border-radius: 50%; */
    object-fit: cover;
    animation: spin 20s linear infinite;
  }
  
  .progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .progress-bar {
    width: 300px;
    height: 8px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .progress-fill {
    height: 100%;
    background: white;
    border-radius: 10px;
    transition: width 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  
  .progress-text {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
  

  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @media (max-width: 768px) {
    .loading-screen h3 {
      font-size: 2rem;
    }
    
    .loading-progress img {
      width: 120px;
      height: 120px;
    }
    
    .progress-bar {
      width: 250px;
    }
    
    .progress-text {
      font-size: 1.2rem;
    }
  }